* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body>footer#admin-footer,
body>header#admin-header,
body>footer#admin-footer {
  padding-block: 0;
}

header#admin-header,
footer#admin-footer {
  background-color: var(--pico-form-element-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

header#admin-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid var(--pico-form-element-border-color);
}

header#admin-header>h1 {
  margin: 0;
}

main#admin-main {
  width: calc(100% - 10%);
  height: calc(100vh - 50px - 100px);
  margin: 100px 0 0 10%;
  overflow-y: scroll;
}

main#admin-main.no-sidebar {
  width: 100%;
  margin-left: 0;
}

main#admin-main:has(.login-form) {
  display: flex;
  align-items: center;
}

footer#admin-footer {
  height: 50px;
  width: 100%;
  border-top: 1px solid var(--pico-form-element-border-color);
  position: fixed;
  bottom: 0;
  left: 0;
}

footer#admin-footer>p {
  margin: 0;
}

aside {
  position: fixed;
  top: 101px;
  left: 0;
  width: 10%;
  min-height: calc(100vh - 100px);
  background-color: var(--pico-primary-background);
}

aside nav li {
  padding: .5rem 1rem;
  font-size: .85em;
}

aside nav li a {
  display: flex;
  align-items: end;
  color: white;
}

aside nav li a:hover {
  color: var(--pico-primary-hover);
  text-decoration: none;
}

aside nav li a i {
  padding-right: .25rem;
}

.main-content {
  width: 95%;
  margin: 0 2.5%;
  padding: var(--pico-spacing) 0;
}

i[role=button] {
  color: white;
  padding: calc(var(--pico-spacing) * .25);
  border: none;
}

i[class=light-icon-float-left] {
  background-color: var(--pico-color-azure-650);
}

i[class=light-icon-pencil] {
  background-color: var(--pico-color-jade-650);
}

i[class=light-icon-trash] {
  background-color: var(--pico-color-pink-650);
}

a:has(i[role=button]) {
  text-decoration: none;
  margin-left: calc(var(--pico-spacing) * .25);
}

.form-container {
  width: 75%;
  margin: 0 auto;
}

.form-container:has(.login-form) {
  width: 33%;
  padding: var(--pico-spacing);
  border: 1px solid var(--pico-form-element-border-color);
}

.form-container:has(.login-form) h4 {
  text-align: center;
}

.title-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--pico-spacing);
}

.title-space-between h4 {
  margin-bottom: 0;
}

.title-space-between a[role=button] {
  display: flex;
  align-items: end;
  padding: calc(var(--pico-spacing) * .25);
}

.title-space-between a[role=button] i {
  margin-right: calc(var(--pico-spacing) * .25);
}

div.form-block-radio {
  margin-bottom: var(--pico-spacing);
}

div.form-block-radio>p {
  margin-bottom: calc(var(--pico-spacing) * .375)
}

pre {
  padding: calc(var(--pico-spacing) * .5);
}

td.book-cover img {
  max-width: 150px;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

label:has(+ *:required)::after {
  content: '*';
  vertical-align: super;
  font-size: calc(var(--pico-spacing) * .75);
  color: var(--pico-color-pink-650);
}

.login-form>p {
  text-align: center;
}

body :not(a) > i[class^='light-'],
body :not(a) > i[class*=' light-'] {
  vertical-align: bottom;
}

.tooltip-wrapper {
  position: relative;
  font-size: calc(var(--pico-spacing) * .75);
}

.tooltip-wrapper ul {
  margin-left: var(--pico-spacing);
  margin-bottom: 0;
}

[role="tooltip"] {
  display: none;
  position: absolute;
  top: calc(var(--pico-spacing) * -1);
  left: 0;
  background: black;
  color: white;
}

[aria-describedby]:hover + .tooltip-wrapper > [role="tooltip"],
[aria-describedby]:focus + .tooltip-wrapper > [role="tooltip"] {
  display: block;
}

input[type=submit].warning-action {
  background-color: var(--pico-color-pink-650);
  border-color: var(--pico-color-pink-650);
}