* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body>footer,
body>header,
body>main {
  padding-block: 0;
}

header,
footer {
  background-color: var(--pico-form-element-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid var(--pico-form-element-border-color);
}

header>h1 {
  margin: 0;
}

main {
  height: calc(100vh - 50px - 100px);
  margin-top: 100px;
  overflow-y: scroll;
}

footer {
  height: 50px;
  width: 100%;
  border-top: 1px solid var(--pico-form-element-border-color);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

footer>p {
  margin: 0;
}

.main-content {
  width: 95%;
  margin: 0 2.5%;
  padding: var(--pico-spacing) 0;
}

.title-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--pico-spacing);
}

.form-inline {
  width: 25%;
  display: flex;
}

fieldset[role=group] > button {
  border: none;
}

td.book-cover img {
  max-width: 250px;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}